<footer>
    <div>
        <a href="/">
            <span>
                Go to the bulletin board
            </span>
        </a>
        <a href="/new">
            <span>
                Post a new message!
            </span>
        </a>
        <div class="admin">
            <a href="/delete">
                <span>
                    Admin
                </span>
            </a>
        </div>
    </div>
</footer>

</html>
