<footer>
    <div>
        <a href="/">
            <span>
                Go to the bulletin board
            </span>
        </a>
        <a href="/new">
            <span>
                Post a new message!
            </span>
        </a>
    </div>
</footer>
