body {
    background: lightgrey;
    font-family: monospace;
    font-size: 1.2rem;
}

.messages-container {
    border: 2px solid red;
}

.message {
    border: 2px solid blue;
}

.user {
    font-weight: 900;
}

a div {
    text-align: center;
    padding: 10px;
}

footer>div {
    display: flex;
    gap: 30px;
    justify-content: center;
}

footer>div>span {
    display: block;
}

.error {
    font-weight: 900;
    color: red;
}

header {
    text-align: center;
    font-size: 2rem;
}
